<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Optometrists Near Me
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div #pleaseConnect id="please-connect">
    <p>Please wait for the map to load.</p>
  </div>
  <div #map id="map"></div>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
            <!-- <ion-list> -->
              <ion-list-header>
                <h1>Optometrists Near Me</h1>
              </ion-list-header>
              <ion-list *ngFor="let each of optometristsByDistance">
                <ion-list-header>
                  <h2>{{ each.optometrist.name }}</h2>
                  <button ion-button color="light" (click)="getDirections(each)">Get Directions On Map</button>
                  <br>
                  <button ion-button color="light"  (click)="search(each.optometrist)">Show Optometrist Profile</button>
                  <br>
                  <p>From your current location:</p>
                  <p *ngIf="each.distanceText">&nbsp;Distance= {{ each.distanceText }}</p>
                  <p *ngIf="each.durationText">&nbsp;Duration= {{ each.durationText }}</p>
                  <p *ngIf="each.optometrist.workplaceAddress">&nbsp;Address = {{ each.optometrist.workplaceAddress }}

                  <br>
                  <p>Workplace : {{ each.workplace.name}}</p>
                  <p>Workplace Address: {{ each.workplace.address}}</p>
                  
                  <p *ngIf="each.optometrist.qualification">• {{ each.optometrist.qualification }} </p>
                  <p *ngIf="each.optometrist.workExperience">• {{ each.optometrist.workExperience }}</p>
                </ion-list-header>
              </ion-list>

              <!-- <ion-item-group *ngFor="let each of optometristsByDistance" (click)="search(each.optometrist)">
                <ion-item>
                  <h2>{{ each.optometrist.name }}</h2>
                  <p>From your current location:</p>
                  <p *ngIf="each.distanceText">Distance= {{ each.distanceText }}</p>
                  <p *ngIf="each.durationText">Duration= {{ each.durationText }}</p>

                  <p *ngIf="each.optometrist.workplaceName">• {{ each.optometrist.workplaceName }}</p>
                  <p *ngIf="each.optometrist.qualification">• {{ each.optometrist.qualification }} </p>
                  <p *ngIf="each.optometrist.workExperience">• {{ each.optometrist.workExperience }}</p>
                </ion-item>
              </ion-item-group> -->
            <!-- </ion-list> -->
          </ion-card>



      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
