<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #EBF5FB;">
  <!-- <div class="background-image"></div> -->
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 *ngFor="let item of items">
        <ion-card (click)="viewItem(item.data)">
          <ion-card-header>
            <ion-item>
              <h2>{{item.data.title}}</h2>
              <p>
                <ion-icon name="thumbs-up">{{item.data.score}}</ion-icon>&nbsp;&nbsp;
                <ion-icon name="chatboxes">{{item.data.num_comments}}</ion-icon>
              </p>
              <ion-thumbnail *ngIf="item.data.thumbnail" item-end>
                <img src="{{item.data.thumbnail}}" width="50px" height="50px" alt="">
              </ion-thumbnail>
            </ion-item>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
