.buttons-components-page{
  ion-card {
    margin-bottom: 2em;
  }

  ion-card-content {
    background-color: #777d8f;
  }

  ion-card img {
    width: 200px;
    height: 200px ;
    display: block;
    margin: 20px auto;
  }
}
